<h1>Add new courses</h1>

<form action="/add" method="POST">

  <div class="input-field">
    <input id="title" name='title' type="text" class="validate" required>
    <label for="title">Course name</label>
    <span class="helper-text" data-error="Enter name" data-success="right"></span>
  </div>

  <div class="input-field">
    <input id="price" name='price' type="number" class="validate" required min='1'>
    <label for="price">Course price</label>
    <span class="helper-text" data-error="Enter price" data-success="right"></span>
  </div>

  <div class="input-field">
    <input id="url" name='url' type="text" class="validate" required>
    <label for="url">URL image</label>
    <span class="helper-text" data-error="Enter image URL" data-success="right"></span>
  </div>

  <button class="waves-effect waves-light btn" type='submit'>Add Course</button>

</form>
